
@{
    ViewData["Title"] = "Details";
}

<h1 style="color:aqua">Hello this is Details Section</h1>
<ul>
    <li>
        Tempdata :  @TempData["id"];
    </li>
    <li>
        ViewBag : @ViewBag.id;
    </li>
    <li>
       ViewData :  @ViewData["id"];
    </li>
</ul>

