<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="color:forestgreen">This is Header section</h1>
        @RenderBody()
        <h1 style="color:orangered">This is footer section</h1>
    </div>
</body>
</html>
